header.header
    nav.nav.nav--course
        //a.nav__el(href='/loan') All Loan Lists
        form.nav__search
            button.nav__search-btn
                svg
                    use(xlink:href='img/icons.svg#icon-search')
            input(type='text' placeholder='Search Loans')
    .header__logo
        img(src='/img/logo.png' alt='Course logo')
    nav.nav.nav--user
        if authenticated === true
            a.nav__el.nav__el(href='/newLoan') New Loan
            a.nav__el.nav__el(href='/users/logout') Logout
        else
            a.nav__el.nav__el(href='/login') Login
            a.nav__el.nav__el(href='/signup') Sign Up
        
        a.nav__el(href='/me')
            img.nav__user-img(src='/img/users/user.png' alt='user phpto')
            span #{customerName}