extends baseTemplate

block content 
    // LOGIN FORM
    main.main
      .card-container
        .card
          .card__header
            .card__details
              h4.card__sub-heading Login
              p.ard__text Please enter the following details
              .card__data
             
              form(action='/users/login' method='post')
                label(for='email') Email:
                input(type='text' id='email' name='email')
                label(for='password') Password:
                input(type='password' id='password' name='password')
                input.card__sub-heading( type='submit' value='Log In')
