doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title The Trending Loans

  body
    // DARK BLUE HEADER
    include _header_login

    //CONTENT
    block content
      h1 Click on the 'All Loans Lists' link to see your loans 
      a.nav__elloginbase(href='/loan/allLoans') All Loan Lists
      // a.nav__elloginbase(href='/users') All Users 
      
    //FOOTER
    include _footer
        